<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Paiement confiramtion</h4>
      </div>
      <div class="modal-body">
        <h4> Price :  <strong>$<%= @yacht.price %> </strong></h4>

      </div>
      <div class="modal-footer">
       <%= link_to "Confirm and Pay", pay_booking_path(@booking), method: :patch, remote: true, class: "btn btn-primary","data-dismiss" => "modal"  %>
      </div>
    </div>
  </div>
</div>


