// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@import "bootstrap-datepicker3";

.booked {
  color: white;
  font-style: italic;
  background-color: green;
  padding: 10px;
  text-align: center;
}

